{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/ask.css' %}">

<div class="container">
    <div>
        <h1><strong>문의/건의</strong></h1>
        <hr class="one">
    </div>

    <div>
        <ul>
            <li>
                <div class="title"><strong>로또 당첨이 왜 안돼나요?</strong></div>
                <div class="content"><a href="">확률조작인거 같은데</a></div>
                <div class="respondo">답변완료</div>
            </li>
            <li>
                <div class="title"><strong>이거 사용하기 불편해요</strong></div>
                <div class="content"><a href="">화이팅...</a></div>
                <div class="respondo">답변완료</div>
            </li>
            <li>
                <div class="title"><strong>아 진짜 상담원이 좀 그러네요</strong></div>
                <div class="content"><a href="">내용 어쩌구 저쩌구 궁시렁궁시렁 머라 적어야 되지? 잠온다</a></div>
                <div class="respondo">답변완료</div>
            </li>
            <li>
                <div class="title"><strong>제목 블라블라</strong></div>
                <div class="content"><a href="">내용 어쩌구 저쩌구 궁시렁궁시렁 머라 적어야 되지? 잠온다</a></div>
                <div class="respondo">답변완료</div>
            </li>
            <li>
                <div class="title"><strong>교수님 성적에 이상이 있어서 문의..</strong></div>
                <div class="content"><a href="">제가 과제도 다하고 중간, 기말도 잘 친거 같은데 성정이 왜 이런건가요?? 답좀 주세요</a></div>
                <div class="respondx">답변대기중</div>
            </li>
            <li>
                <div class="title"><strong>롯데 언제 우승 하나요?</strong></div>
                <div class="content"><a href="">이제 우승 할때 된것같은데 아직 8등이네요 빨리 올려주세요</a></div>
                <div class="respondx">답변불가</div>
            </li>
            <li>
                <div class="title"><strong>NC다이노스 오늘 승리합니다</strong></div>
                <div class="content"><a href="">양의지 나성범 홈런, 알테어 3타점 안타</a></div>
                <div class="respondx">답변 대기중</div>
            </li>
        </ul>
    </div>

    <div class="button">
        <button type="button" class="btn">글작성</button>
    </div>
</div>

{% endblock %}