{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/member2.css' %}">
<div id="mapwrap"> 
    <!-- 지도가 표시될 div -->
    <div id="map"></div>
    <!-- 지도 위에 표시될 마커 카테고리 -->
    <div class="category">
        <ul>
            <li id="cafeMenu" onclick="changeMarker('cafe')">
                <span class="ico_comm ico_cafe"></span>
                카페
            </li>
            <li id="restaurantMenu" onclick="changeMarker('restaurant')">
                <span class="ico_comm ico_restaurant"></span>
                식당
            </li>
            <li id="othersMenu" onclick="changeMarker('others')">
                <span class="ico_comm ico_others"></span>
                기타
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	89275d9ab9b074c6b650b4b1f1e49c3b"></script>
<script type="text/javascript" src="{% static 'js/member2.js' %}"></script>

{% endblock %}