{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/notifyhome.css' %}">

<div class="container">
    <div>
        <h1><strong>신고</strong></h1>
        <hr class="one">
    </div>
    <div>
        <h2><strong>1. 신청서 작성</strong></h2>
        <br>
        <div class="agree">
            <div>
                <h3>개인정보 수집 및 이용 안내</h3>
            </div>
            <div class="greedTxt" tabindex="0">
                <dl>
                    <dt>1. 개인정보의 수집 및 이용 목적(개인정보보호법 제15조)</dt>
                    <dd>국민신문고는 관계법령 등에서 정하는 소관 업무의 수행을 위하여 다음과 같이 개인정보를 수집 및 이용합니다. 수집된 개인정보는 정해진 목적 이외의 용도로는 이용되지 않으며 수집 목적이 변경될 경우 사전에 알리고 동의를 받을 예정입니다.
                        <br>
                        ※ 관계법령 등 : 민원 처리에 관한 법률 및 동법 시행령, 부패방지 및 국민권익위원회의 설치와 운영에 관한 법률, 국민 제안 규정, 국가재정법 및 동법 시행령, 지방재정법 및 동법 시행령, 예산‧기금의 불법지출에 대한 국민감시 및 예산낭비신고센터의 설치‧운영에 관한 지침, 지방교육행정기관 예산낭비신고센터의 설치‧운영에 관한 규정, 행정안전부 지방예산낭비신고센터의 설치‧운영에 관한 규정, 전자정부법 및 동법 시행령, 온라인 국민참여포털의 운영에 관한 규정 등
                        가. 접수·처리·사후관리 서비스 제공
                        신청서에 포함된 개인정보는 민원의 접수·처리 등 소관 업무 수행을 위해 행정기관에서 이용합니다.
                        행정기관에는 법령에 따라 행정권한이 있거나 행정권한을 위임 또는 위탁받은 법인·단체 또는 그 기관이나 개인이 포함됩니다. (민원 처리에 관한 법률 제2조제3호)
                        나. 타 행정·공공기관 시스템 이용
                        민원의 전자적 처리를 위해 내부적으로 타 시스템 연계 및 이용 시 개인정보를 이용합니다.
                        다. 국민신문고 정책지원
                        접수된 민원은 국민신문고 서비스 향상 및 정책평가를 위하여 관계 법령에 따라 분석·평가 및 처리결과의 사후관리를 시행합니다.
                    </dd>
                </dl>
            </div><br><br>
            <form action="" class="check">
                <input type="checkbox">필수 항목 동의
            </form>
        </div>

        <div class="certify">
            <h3>본인 인증</h3><br><br>
            <form action="{% url 'notify' %}" class="button">
                <input type="submit" class="btn" value="휴대폰으로 본인 인증">
            </form>
            
        </div>

    </div>
    
    

</div>
{% endblock %}