{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/point.css' %}">
{% endblock %}
{% block content %}
<div>
    <form action="" class="point-form">
        <div>
            <select name="point-kind" id="" class="point-kind">
                <option value="lpoint">L포인트</option>
                <option value="okcashback">OK캐쉬백</option>
                <option value="npaypoint">Npay포인트</option>
                <option value="paycopoint">PAYCO포인트</option>
                <option value="kbpointree">KB포인트리</option>
            </select>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <input type="text" class="point" value="0">
            <a href="">잔액확인</a>
        </div>
        <br><br>

        <div>
            
            <input type="text" class="point" value="0">
            <a href=""><img src="{% static 'image/x-mark.png' %}" alt="" height="10px" width="10px"></a>
            <a href="">전액사용</a>
        </div>
        <br><br>
        <textarea name="message" id="" cols="100" rows="10" placeholder="메세지를 입력해 주세요"></textarea><br><br><br>
        <button type="button" class="btn">기부하기</button>
    </form>
</div>
{% endblock %}

