hr.one{
    background-color: black;
    height: 2px;
}

.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;

}

.sidebar-left{
    text-align: center;
}

.main{
    text-align: left;
    padding-left: 10%;
}






a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 5px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 1px;
	padding: 10px 20px;
}

a.button {
	color: black;
	box-shadow: #F8E982 0 0px 0px 2px inset;
    background-color: #F8E982;
}

a.button:hover {
	color: black;
	box-shadow: #fae34e 0 0px 0px 40px inset;
}

