html, body {
    height: 100%;
    margin: 0;
    position: relative;
}

.card_back {
    height: 27%;
    width: 100%;
    background-color: rgb(207, 207, 207);
}

.card_back_word {
    display: inline-block;
    position: relative;
    top: 80%;
    margin-left: 13%;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 25px;
}

.card_info_c {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 15%; 
    width: 60%;

}

.one {
    display: flex;
    width: 100%;
    margin-top: 1%;
}

.input_c {
    margin:0%;
}

.font {
    font-weight: bold;
}

.font_c {
    width: 15%;
}

input {
    border: 1px solid #ced4da;
    border-radius: .2rem;
}

.input_card_num {
    width: 18%;
}

.input_card_m {
    width: 10%;
}

.input_card_y {
    width: 15%;
}

.input_card_pwd {
    width: 70%;
}

button {
    background-color: rgb(248,233,130);
    border: 1px solid rgb(248,233,130);
    border-radius: .2rem;
    display: inline-block;
    width: 40%;
}