html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 8%;
    text-align: center;
}

h1 a {
    text-decoration: none;
}

h1 a:visited { color: black;}

.form {
    text-align: center;
    height: 50%;
}

form {
    height: 12%;
    margin-bottom: 1.6%;
}

.login_id {
    display: inline-block;
    width: 30%;
    height: 12%;
    margin-right: 0.7%;
    margin-bottom: 1.5%;
}


.login_pwd {
    display: inline-block;
    width: 30%;
    height: 12%;
    margin-right: 0.7%;
    margin-bottom: 1%;
}

div input {
    width: 100%;
    height: 100%;
    padding: 0 3%;
}

.sub {
    display: inline-block;
    width: 55%;
    height: 45px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(248,233,130);
    border: 1px solid rgb(248,233,130);
    border-radius: 20px;
}

.submit_google {
    display: inline-block;
    width: 55%;
    height: 45px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    background-color: rgb(49, 93, 238);
    border: 1px solid rgb(49, 93, 238);
    border-radius: 20px;
    background-image: url('https://img.icons8.com/color/48/000000/google-logo.png');
    background-size: 34px 34px;
    background-repeat: no-repeat;
    background-position: 10%;
    
}


p {
    font-weight: bold;
}

p a {
    text-decoration: none;
}

p a:visited { color: black;}

p a:link {color: black;}

.check{
    text-align: left;
}

.box{
    width: 12px;
    height: 12px;
}