/* 전체 위치 */
.point-form{
    text-align: center;
}


/* 포인트 선택 form */
.point-kind{
    border-radius: 4px;
    width: 20%;
    height: 5%;
}
/* 포인트 잔액표시 */
.point{
    width: 20%;
    /* input의 밑줄만 남김 */
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1;

}

/* 기부하기 버튼 */
.btn{
    border-radius: 10px;
    width: 20%;
    height: 5%;
    background-color: #F8E982;
}